@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #f6f5f7;
}

.app{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav{
  background: #06283D;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
    
  ul{
    display: flex;
    list-style-type: none;

    li:first-child{
      margin-left:auto;
    }

    a{
      text-decoration: none;
      padding: 1rem 1.5rem;
      font-weight: bold;
      display: inline-block;
      color: #fff;
      &:hover{
        background: #fff;
        color: #ff4b2b;
      }
    }
  }
  

}